fastapi == 0.115.12
uvicorn == 0.34.2
traceloop-sdk == 0.52.6
openai==2.20.0
langchain==1.2.10
langchain-community==0.4.1
langchain-classic==1.0.0
langchain-openai==1.1.10
beautifulsoup4==4.13.4
lxml==5.3.2
opentelemetry-instrumentation-ollama==0.52.6
langchain-weaviate==0.0.6